@media(max-width: 40em){
    body{
        width:  100%;
        grid-template-columns: [start] 4fr [end];
        grid-template-rows: [start] auto [nav] auto [news] auto [footer] auto [end];
        
    }
    #related{
        display: none;
    }
    
}
@media(max-width: 20em){
    body{
        width: 100%;
    }
    #related{
        display: block;
    }
}