@media(max-width: 40em){
    body{
        width:  100%;
        
    }
    #related{
        display: none;
    }
    
}
@media(max-width: 20em){
    body{
        width: 100%;
    }
    #related{
        display: block;
    }
}