/*News header*/
#news header a{
    color: #ffFFff;
    text-shadow: 6px 6px 8px #000000;
    text-decoration-line: none;
}
#news img{
    width: 100%;
}
body > header a {
    color: white;
    text-decoration: none;
}

body > header {
    background-color: #046dd5;
        padding: 1em;
}
header a {
    font-size: 1.5em;
}

/*body*/
body {
    font-family: 'Verdana', sans-serif;
}
body {
    font-family: 'Verdana', sans-serif;
}
body > footer p {
    margin: 0;
}
p {
    font-family: "Georgia", serif;
    line-height: 1.4em;
}
body > footer {
    color: white;
}
body > footer {
    align-self: end;
}
body > footer {
    background-color: #2a2f33;
    color: white;
    padding: 1em;
    margin-right: 1em;
    height: 1em;
}
/*nav menu*/
#menu {
    grid-column: start;
    background: #ffffff;
    text-align: center;

}
#menu{
    line-height: 16px;
}
#menu li{
    padding: 1em;
}
#hamburger, .hamburger{
    display: none;
}

#menu li a{
    text-decoration: none;
    color: black;
}
#menu li:hover{
    background-color: #2a2f33;
}
#menu li:hover a{
    color: white;
}
ul {
    display: flex;
    flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-decoration-line: none;
}
#menu li:nth-child(1){
    border-top: 10px solid blue;
}
#menu li:nth-child(2){
    border-top: 10px solid red;
}
#menu li:nth-child(3){
    border-top: 10px solid green;
}
#menu li:nth-child(4){
    border-top: 10px solid yellow;
}
#menu li:nth-child(5){
    border-top: 10px solid aquamarine;
}
#menu li:nth-child(6){
    border-top: 10px solid orange;
}
li {
    padding: 8px;
    display: inline;
}
#menu li{
    display: block;
    flex: 1;
    flex-basis: 0%;
    flex-grow: 1;
    flex-shrink: 1;
}
#related h1 a{
    color: white;
    text-decoration-line: none;
}
/*articles*/

/*aside*/
aside{
    background-color: blue;
    color: white;
    text-decoration-line: none;
}

/*special links*/
#signup a{
    justify-content: flex-end
}
/*Footer*/
#news footer {
  color: white;
  background-color: #f4655f;

  padding: 1em;
}

#news footer a{
  color: white;
  text-decoration: none;
  border-bottom: 1px solid white;
  padding-bottom: 2px;
}

#news footer .tags {
  margin-right: 1em;
}

#news footer .comments {
  margin-left: 1em;
}

#news footer .comments:after {
  content: ' comments';
}

#news footer .author:before{
  content: "By ";
}